
body
{
    font-family:"Lucida Sans Narrow","Lucida Sans Typewriter","Lucida Sans",  "Arial", monospace;  
}

.row button 
{
    font-size: 18pt;
    font-family:Tahoma, Geneva, sans-serif;
    color:#313B3D;
    width: 87px;
    height: 50px;
    /*margin: 2.5px;*/
    border-width: 2px;
    /*border-color: #aeaeae;*/
    border-radius: 9px;
    margin-left: 2px;
    margin-right:-2px;
    margin-top: 7px;
    background-color: #efefef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #d5d5d5);
    background-image: -moz-linear-gradient(top, #f9f9f9, #d5d5d5);
    background-image: -ms-linear-gradient(top, #f9f9f9, #d5d5d5);
    background-image: -o-linear-gradient(top, #f9f9f9, #d5d5d5);
    background-image: linear-gradient(top bottom, #f9f9f9, #d5d5d5);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#f9f9f9, endColorstr=#d5d5d5);
    -webkit-box-shadow: inset 1px -2px 5px 0px rgba(36,36,36,1);
    -moz-box-shadow: inset 1px -2px 3px 0px rgba(36,36,36,1);
    box-shadow: inset 1px -2px 3px 0px rgba(36,36,36,1);
}

#mr{
    margin-left:2px;    
}
#times{
    margin-left:2px;    
}
#minus{
    margin-left:2px;    
}
#plus{
    margin-left:2px;    
}

.row .input {
    width: 350px;
    height: 70px;
    margin: 5px;
    padding: 10px;
    border-style: inset;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-width: 3px;
    background-color: #F0FACA;
    box-shadow: inset 0px 0px 0px #F0FACA,0 3px 5px #ECECEC;
    -webkit-box-shadow: inset 0px 4px 5px 0px rgba(82,81,82,1);
    -moz-box-shadow: inset 0px 4px 5px 0px rgba(82,81,82,1);
    box-shadow: inset 0px 4px 5px 0px rgba(82,81,82,1);

    font-size:24pt;
    margin-bottom: 15px;
    text-align: right;
}

#calc{


    background: #f6f7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f7ea 1%, #b0b0b0 46%, #c4c4c4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7ea), color-stop(46%,#b0b0b0), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f7ea 1%,#b0b0b0 46%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f7ea 1%,#b0b0b0 46%,#c4c4c4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f7ea 1%,#b0b0b0 46%,#c4c4c4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f7ea 1%,#b0b0b0 46%,#c4c4c4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7ea', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

    width: 384px;
    height: 470px;
    padding: 10px;
    border-radius: 8px;
}

#zero {
    width: 185px;

}

.row #equals{
    position:absolute;
    height:108px;
    padding-top:65;
    margin-left:14px;
}
#numbers{
    margin-top:5;
    text-align:right;
    margin-right:45px;
}
#result{
    text-align:left;
    font-size:20pt;
    font-weight:700;
    padding-top:0px;
    margin-top:-6px;
    margin-left:150px;
    font-family: "Lucida Sans Unicode";
}
/*
#input_box{
    width: 324px;
    height: 44px;
    padding: 10px;
    border: 3px;
}
*/
